container commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_createsuperuser:
    command:"echo \"from accounts.models import Account; Account.objects.create_superuser('first_name' , 'last_name' , 'geca@geca.mk', 'gecausername', 'gecapassword')\"  | python manage.py createsuperuser" ,
    leader_only: true

option_settings:
  aws:elasticbeanstalk:application:enviroment:
    DJANGO_SETTINGS_MODULE: gecacart.settings     